/* Reset Default Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Centering the form 
body {
    background-color: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/sample.jpg') no-repeat center center/cover; 
    backdrop-filter: blur(8px); /* Apply Blur Effect */
}

.head-container {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    gap: 10px; 
}

.head-container img {
    width: 50px;
    margin-bottom: 20px;
}

.head-container h2 {
    font-size: 24px;
    font-weight: bold;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signup-box {
    background-color: white;
    padding: 40px;
    width: 700px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 80px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* login Text */
.login-text {
    font-size: 14px;
    margin-bottom: 15px;
}

.login-text a {
    color: #8a1c1c;
    text-decoration: none;
    font-weight: bold;
}

.login-text a:hover {
    text-decoration: underline;
}

.signup-btn {
    width: 50%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}